@{
    ViewBag.Title = "AddMember";
}
<style type="text/css">
    .metrouicss .page .nav-bar {
        background-color: #99B433 !important;
    }

    .metrouicss #dialogOverlay .dialog .header {
        background-color: #99B433 !important;
        border-color: #99B433;
    }

    .middle {
        width: 700px;
        margin: 0 auto;
        height: 350px;
    }

    .metrouicss .page-region .middle h3 {
        font-weight: 100;
    }

    input {
        font-family: 'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;
    }

    .metrouicss .page-region .addUser {
        float: right;
        margin-top: 20px;
        margin: 0;
    }
</style>

<div class="page-header">
    <div class="page-header-content">
        <h1>Add 
            <small>Member</small>
        </h1>
        <a class="back-button big page-back" href="/"></a>
    </div>
</div>

<div class="page-region">
    <div class="middle">
        <h3>Name</h3>
        <div class="input-control text">
            <input class="userName" type="text" placeholder="Please type member's Name.">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
        <h3>Account</h3>
        <div class="input-control text">
            <input class="userAccount" type="text" placeholder="Please type member's Account.">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
        <h3>Password</h3>
        <div class="input-control text">
            <input class="userPassword" type="text" placeholder="Please type member's Password.">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
        <h3>Balance</h3>
        <div class="input-control text">
            <input class="userBalance" type="text" value="0">
            <button class="btn-clear" tabindex="-1" type="button"></button>
        </div>
    </div>
    <button class="command-button saveUser bg-color-greenLight fg-color-white addUser">
        Submit !
        <small class="">click here to submit your type.</small>
    </button>
</div>
<script>
    $(function () {
        saveUserEvent();

        inputEvent();

    })
    function inputEvent() {
        //input只能输入数字
        $(".userBalance").keydown(function (e) {
            if ($.browser.msie) {  // 判断浏览器

                if (((event.keyCode > 47) && (event.keyCode < 58)) || (event.keyCode == 8)) { 　// 判断键值  

                    return true;
                } else {
                    return false;
                }
            } else {
                if (((e.which > 47) && (e.which < 58)) || (e.which == 8) || (event.keyCode == 17)) {
                    return true;
                } else {
                    return false;
                }
            }
        }).focus(function () {
            this.style.imeMode = 'disabled';   // 禁用输入法,禁止输入中文字符

        });
    }

    function saveUserEvent() {
        $('.saveUser').click(function () {
            if (inputIsEmpty()) {
                $.Dialog({
                    'title': 'Please check your type !',
                    'content': 'Please type user information !</br></br><b>Make Sure: <b/><ul><li>user name is not empty</li><li>user account is not empty</li><li>user password is not empty</li><li>balance is not empty</li></ul>',
                    'draggable': true,
                    'overlay': true,
                    'buttonsAlign': 'right',
                    'buttons': {
                        'OK': {
                            'action': function () { }
                        },
                    }
                });
                return;
            }
            var user = {
                UserName: $('.userName').val(),
                UserAccount: $('.userAccount').val(),
                UserPassword: $('.userPassword').val(),
                UserTotal: $('.userBalance').val(),
            };
            saveUser(user);
        });
    }

    function saveUser(user) {
        $.ajax({
            url: "/User/SaveUser",
            data: { "userJson": JSON.stringify(user) },
            success: function () {
                alert("Save Complete !");
                window.location = "/Home/Index";
            },
            error: function () {
                alert("OOPS !");
            }
        });

    }

    function inputIsEmpty() {
        var right = false;
        if ($('.userName').val() == "") {
            right = true;
        }
        if ($('.userAccount').val() == "") {
            right = true;
        }
        if ($('.userPassword').val() == "") {
            right = true;
        }
        if ($('.userBalance').val() == "") {
            right = true;
        }
        return right;
    }
</script>
